
div.grid {
    margin: 25px;
    border: 1px solid #82ccdd;
    float: left;
    width: 200px;
}

div.grid:hover {
    border: 1px solid #4a69bd;
}

div.grid img {
    width: 100%;
    height: auto;
}

div.metaText {
    padding: 15px;
    text-align: center;
}
